/* хлебные крошки */
#breadcrumb {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
  position: relative;
    left: -40px;
    font-family: 'Comfortaa';
    font-weight: 700;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #fff;
  display: block;
  background: #dd016f;
  text-decoration: none;
  position: relative;
  height: 66px;
  line-height: 66px;
  padding: 0 10px 0 15px;
  text-align: center;
  margin-right: 23px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#breadcrumb li:first-child a {
  padding-left: 35px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #dd016f;
  border-width: 33px 15px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #dd016f;
}
#breadcrumb li a:hover {
  background-color: #a22587;
}
#breadcrumb li a:hover:before {
  border-color: #a22587;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #a22587;
}
#breadcrumb li a:active {
  background-color: #a22587;
}
#breadcrumb li a:active:before {
  border-color: #a22587;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #a22587;
}
#breadcrumb li.current a {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

@media screen and (max-width:768px){
    #breadcrumb{
        display: none;
        }
}