@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic,cyrillic-ext');

.cart-table{
	font-family: "Comfortaa";
	font-size: 24px;
	font-weight: 700;
}

.cart-item-img{
    margin:auto;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 95%;
}
.cart-good-minus, .cart-good-plus{
	border-radius: 50%;
	font-weight: 900;
}
.cart-good-minus{
	padding:  0 9px;
}
.cart-good-plus{
	padding:  0 8px;
}

.mzgbStyle{
	background: rgba(221,1,111,0.85);
	color: #fff;
}
.mzgbStyle:hover, .mzgbStyle:hover, .mzgbStyle:hover{
	background: #dd016f;
	color: #fff;
}
.center-aligned{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.align-items-center{
    border-bottom: 1px solid #DCDCDC;
}
@media screen and (min-width:768px) and (max-width:992px) {
    .cart-item-img{
        height: 120px;
        width: 120px;
    }
    .cart-table, .cart-good-delete{
        font-size: 18px;
    }
}
@media screen and (min-width:992px){
    .br-span{
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:768px){
    .cart-table, .cart-good-delete{
        font-size: 14px;
    }
}


@media screen and (min-width:576px) and (max-width:768px) {
    .cart-item-img{
        height: 90px;
        width: 90px;
        }
}
@media screen and (max-width:576px){
    .cart-item-img{
        height: 80px;
        width: 80px;
        }
        .cart-table, .cart-good-delete{
        font-size: 16px;
    }
}