.categoryTosubcategory, .categoryTosubcategory.text,.categoryTosubcategory:hover, .categoryTosubcategory:hover.text,.categoryTosubcategory:active,.categoryTosubcategory:link, .categoryTosubcategory:visited,.categoryTosubcategory:active.text{
    text-decoration: none;
    color: #212529;
}
.category-list-item-img{
    margin: 10px auto;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 95%;
}
 #catalog, #subcats, #catalogsGood{
    margin-top: 20px;
    font-family: "Comfortaa";
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 50px;

}
.goodTopay{
    padding: 0;
    border: none;
    background: transparent;
    margin-bottom: 20px;
    cursor: pointer;
}
.goodTopay:focus{
    outline: none;
}
.goodTopay:active{
    opacity: 0.5;
}
.info-button{
    position: absolute;
    font-weight: 900;
    right: 55px;
    top: 230px;
    background: rgba(221,1,111,0.85);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 90%;
}
.info-button:hover{
    cursor: pointer;
    background: #dd016f;
}
.price-span{
    color: #dd016f;
}

.good-info{
    display: none;
}
.good-info:after, .good-info:before{
    height: 0px;
    display: block;
    width: 100%;
    content: '';
    border-bottom: 2px solid #dd016f;
}
.active-info{
    display: block;
}
.openNameModal{
    width: 50px;
    height: 50px;
    background: center center no-repeat /cover;
    -moz-background: center center no-repeat;
    cursor: pointer;
}
.openNameModalbtn{
    padding: 0;
    margin: auto;
    background: transparent;
    border: 0;
}
.openNameModalbtn:focus{
    box-shadow: none;
}