.background-logo{
	border-radius:50% 0 0 50% ;
	position: fixed;
	right: 0px;
	bottom: 0px;
}
.theTeamsArenotAlright{
	position: relative;
	z-index: 1;
	margin-top: 50px;
	font-family: 'Comfortaa';
	font-weight: 700;
	font-size: 24px;
	text-align: justify;
}
.vk-link, .vk-link:hover, .vk-link:active{
	text-decoration: none;
	color: #dd016f;
}
.vk-link:hover{
	 text-decoration: underline dotted #dd016f;
}
@media screen and (min-width:768px) and (max-width:992px) {
    .background-logo{
        width: 300px;
    }
    .theTeamsArenotAlright{
    	font-size: 22px;
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    .background-logo{
        width: 200px;
    }
    .theTeamsArenotAlright{
    	font-size: 18px;
    }
}
@media screen and (max-width:576px){
	.background-logo{
        width: 150px;
    }  
    .theTeamsArenotAlright{
    	font-size: 14px;
    } 
}