.addButton{
    width: 200px;
}
.header-logo{
	border-radius: 90%;
    position: relative;
    z-index: 1;
    width: 70px;
    border: 2px solid #343a40;
}
.ItemTotal{
font-family: 'Comfortaa';
    color: #FFF;
    line-height: 20px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
.ItemTotalSum{
    color: #dd016f;
}
.NumberGoods{
    font-family: 'Comfortaa';
    color: #FFF;
    line-height: 30px;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 10px;
}
.nav-item{
    display: flex;
}
@font-face{
    font-family: 'Roboto Slab normal';
    src: url("../fonts/Roboto Slab/RobotoSlab-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.nextGame{
    color: #fff;
    font-family: 'Comfortaa';
    margin: auto;
    font-size: 20px;
    line-height: 23px;

}
.nextGameTime{
    color: #dd016f;
}
.nextGameDate{
    margin: auto;
}
.nextGameDate:after, .nextGameDate:before{
    height: 0px;
    display: block;
    width: 100%;
    content: '';
    border-bottom: 1px solid #dd016f;
}
@media screen and (min-width:768px) and (max-width:992px) {
    .ItemTotal,.nextGame{
         line-height: 18px;
        font-size: 18px;
    }
}
@media screen and (min-width:576px) and (max-width:768px){
   .ItemTotal,.nextGame{
         line-height: 16px;
        font-size: 16px;
    }
}
@media screen and (max-width:576px){
    .ItemTotal,.nextGame{
         line-height: 16px;
        font-size: 14px;
    }
    .nextGamePlace, .nextGameDate{
        display: none;
    }
    .header-logo{
        width: 50px;
    }
}
@media screen and (min-width:991.98px){
            #infoButton{
                display: none;
            }
    }
@media screen and (max-width:991.98px){
            .nextGame{
                display: none;
            }
            .saveButton, .closeButtonTablet{
                margin-top:25px;
                margin-left: 0px!important;
            }
    }
#infoModal{
    font-family: 'Comfortaa';
}
#uniqueModal{
    font-family: 'Comfortaa';
}
.cookieUserName{
    font-size: 18px;
    line-height: 18px;
}