{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Предзаказ!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/breadcrumbs.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/cart.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/header.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/catalog.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/exportCart.css' %}" type="text/css" rel="stylesheet"/>
     <link href="{% static 'css/enterWithoutToken.css' %}" type="text/css" rel="stylesheet"/>
    
</head>
<body>




{%block content%}{%endblock%}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/subcategory.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/goods.js' %}"></script>
 <script>
		var audio = [new Audio('{% static "sound2.mp3"%}'), new Audio('{% static "sound2.mp3"%}')];
		var soundNb = 0; // counter

		$('.goodTopay').click( () => audio[ soundNb++ % audio.length ].play());



		$("#confirm").on('click', function() {
            $('#myModal').modal('hide');
        });
        jQuery(document).ready(function($) {

           if( $.cookie('showOnlyOne') ){
            $("#myModal").modal('hide');
            } else {
            $.cookie('showOnlyOne', 'showOnlyOne');
            $("#myModal").modal('show');
            }
        $( window ).unload(function() {
            $.cookie('showOnlyOne', 'showOnlyOne',  { expires: 0, path: '/' });
        });
        })

     </script>

</body>
</html>