{%extends "index.html"%}
{%block content%}
{%load static%}
{%if is_play%}
<nav class="navbar navbar-dark bg-dark sticky-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/{{team.token}}">
                <img class="header-logo" src="{% static 'img/logo.jpg'%}" alt="Мзгб">
            </a>


            <ul class="navbar-nav ml-auto">
                 <li class="nav-item ">
                     <p class="ItemTotal">Общая сумма: 
                        <span class="br-span"><br></span><span class="ItemTotalSum">
                            {{team.cart_total}}
                        </span> р.</p>
                </li>
            </ul>

        </div>
    </nav>
<div class="container">

        <div class=" cart-table">
            {% for person in carts %}

                {%for item in person%}
                {%if forloop.first%}
                <p id="nameCookie{{item.cookie_id}}" class="cookieName pt-5">{{item.cookie_id}}</p>
                {%endif%}
                <div class="{{item.id}} row align-items-center" id="infoAboutItem">

                    <div class="col col-lg-2 col-xl-2 col-md-2 col-sm-2 col-6 center-aligned"> <div class="cart-item-img" style="background-image: url('{{MEDIA_URL }}{{ item.good.img.url }}');"> </div></div>
                    <div class="col col-lg-4 col-xl-4 col-md-4 col-sm-4 col-6 center-aligned">
                    {% if item.good.subcategory_name.prefix%}
                        {{item.good.subcategory_name.prefix}}
                    {% else %}
                        {{item.good.subcategory_name.name}}
                        {%endif%}
                    {{ item.good.name }}</div>
                    <div class="col col-lg-4 col-xl-4 col-md-3 col-sm-3 col-6 center-aligned">
                       <form class="minus-elem" id="m-{{ item.good.id }}-{{item.cookie_id}}-{{item.uniqueness}}" action="/{{team.token}}/cart/minus" method="post" style="display: initial;">
                            <button class="cart-good-minus btn btn-light mzgbStyle">-</button>
                        </form>
                        <span class="quantity"> {{ item.quantity}}</span>
                        <form class="plus-elem" id="p-{{ item.good.id }}-{{item.cookie_id}}-{{item.uniqueness}}" action="/{{team.token}}/cart/plus" method="post" style="display: initial;">
                            <button class="cart-good-plus btn btn-light mzgbStyle">+</button>
                        </form>
                        <span><span class="br-span"><br></span> шт. по {{item.good.price}} р.</span>
                    </div>

                    <div class="col col-lg-2 col-xl-2 col-md-3 col-sm-3 col-6 center-aligned">
                        <form class="delete-elem" id="{{ item.good.id }}-{{item.cookie_id}}-{{item.uniqueness}}" action="/{{team.token}}/cart/delete" method="post">
                            <button class="cart-good-delete  btn btn-light mzgbStyle" type="submit">Удалить</button>
                        </form>

                    </div>
                </div>
                {%if forloop.last%}
                <p class="cookieTotal">Сумма:
                    <span class="br-span"><br></span>
                    <span class="{{item.cookie_id}}-{{item.uniqueness}}">
                            {{item.sum}}
                    </span> р.
                </p>
                {%endif%}
                {% endfor %}
            {% endfor %}
    </div>
</div>
{%else%}
  <div class="container">
    <p class="theTeamsArenotAlright">К сожалению, предзаказ недоступен, так как ваша команда не зарегистрирована на следующую игру! Вы можете зарегистрироваться <a class="vk-link" href="{{registry.href}}"> здесь</a></p>
     <img class="background-logo" src="{% static 'img/logo.jpg'%}" alt="Мзгб">
</div>
{%endif%}
{%endblock%}


