{%extends "index.html"%}
{%block content%}
{%load static%}
{%if is_play%}
 <div id="myModal" class="modal fade kek" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body">
                          <div>Добро пожаловать!</div>
                          <div>Нажимая на кнопку "ОК", вы подтверждаете, что вам исполнилось 18 лет</div>
                      </div>
                      <div class="modal-footer">
                          <a class="btn btn-primary" id="confirm">ОК</a>
                      </div>

                </div>
              </div>
            </div>
<nav class="navbar navbar-dark bg-dark sticky-top" role="navigation">


        <div class="container">

            <a class="navbar-brand" href="/{{team.token}}">
                <img class="header-logo" src="{% static 'img/logo.jpg'%}" alt="Мзгб">
            </a>
            <button type="button" class="btn openNameModalbtn" data-toggle="modal" data-target="#nameModal">

                <img class="header-img" src="{% static 'img/chelik.jpg'%}">
            </button>
            <button type="button" class="btn openNameModalbtn" id="infoButton" data-toggle="modal" data-target="#infoModal">

                <img class="header-img" src="{% static 'img/info.png'%}">
            </button>



            <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="nameModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="nameModalLabel">Введите, пожалуйста, ваше имя</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="cookiesave" id = "{{team.id}}" method="post" action="/cookiesave">
                            <div class="modal-body">
                                {%if cookieUserName%}
                                <input class="nameValue" type="text" size="20" value="{{cookieUserName}}">
                                {%else%}
                                <input class="nameValue" type="text" size="20" placeholder="Введите, пожалуйста, ваше имя">
                                {%endif%}
                                <span class="br-span"><br></span>
                                <input type="submit" value="Сохранить" class="btn btn-secondary mzgbStyle saveButton ml-5" data-dismiss="modal">
                                <button type="button" class="btn btn-secondary mzgbStyle ml-1 closeButtonTablet" data-dismiss="modal">Закрыть</button>
                            </div>
                        </form>

                            {%if PreviousOrder%}
                            <form class="addarchive" id="{{team.id}}-{{cookieUserName}}-{{cookieUniqueness}}" method="post" action="/addarchive">
                            <div class="ml-3 mt-3">
                               <h5 class="modal-title">Рады снова Вас видеть, {{cookieUserName}}!</h5>
                                <h6>Ваш предыдущий заказ:</h6>
                                {%for order in PreviousOrder%}
                                <div>
                                    <span>
                                        {% if order.good.subcategory_name.prefix%}
                                            {{order.good.subcategory_name.prefix}}
                                        {% else %}
                                            {{order.good.subcategory_name.name}}
                                        {%endif%}
                                        {{ order.good.name }}
                                    </span>
                                    <span>{{ order.quantity}} шт. по {{order.good.price}} р.</span>
                                </div>

                                {%endfor%}
                                <h6>Общая сумма заказа: {{itemTotal.item_total__sum}} р.</h6><br>
                                <input type="submit" value="Добавить в корзину" class="btn btn-secondary mzgbStyle addButton mb-2" data-dismiss="modal">

                                </div>
                            </form>
                            {%endif%}

                    </div>
                </div>
            </div>
            <div class="modal fade" id="uniqueModal" tabindex="-1" role="dialog" aria-labelledby="uniqueModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="uniqueContentText">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uniqueModalLabel">В корзине обнаружен заказ с таким именем. Вы хотите дополнить имеющийся заказ? Или дописать что-нибудь к имени для формирования другого заказа?</h5>
                        </div>
                        <form class="connectCookie pb-3" method="post" action="/connectcookie/1/">
                            <div class="modal-header">
                                <input type="submit" value="Да, это мой заказ" class="btn btn-secondary mzgbStyle connectButton" data-dismiss="modal">
                            </div>
                        </form>
                        <form class="unconnectCookie" method="post" action="/unconnectcookie/">
                            <div class="modal-header">
                                <input type="submit" value="Нет, я допишу что-нибудь к имени" class="btn btn-secondary mzgbStyle unconnectButton" data-dismiss="modal">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
                        <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="nameModalLabel">Информация о следующей игре</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            <div class="modal-body">
                                <div >Место: {{dateAndPlace.place.name}}
               
               <div>Время: {{dateAndPlace.date | date:"d.m.y "}} <span class="nextGameTime">{{dateAndPlace.date | date:"H:i"}}</span></div>
            </div>
            <div>Команда: {{team.name}}</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary mzgbStyle" data-dismiss="modal">Закрыть</button>
                            </div>
                    </div>
                </div>
            </div>
            <span class="nextGame"><span class="nextGamePlace">{{dateAndPlace.place.name}} </span>
               <br>
               <span class="nextGameDate">{{dateAndPlace.date | date:"d.m.y "}} <span class="nextGameTime">{{dateAndPlace.date | date:"H:i"}}</span><br>
            </span>
            <span>{{team.name}}</span><br>
            <span class="cookieUserName">{{cookieUserName}}</span>
           </span>
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item ">
                    <a id="iconcart" class="nav-link" href="/{{team.token}}/cart">
                        <img class="header-img" class="header-img" src="{% static 'img/iconcart.png'%}" alt="Корзина">
                    </a>
                     <p class="NumberGoods">{{countGoods}}</p>
                </li>
            </ul>

        </div>
    </nav>

<div class="container">
    <div class="row" id="catalog">

        {% for category in categories %}
        {%if category.has_subcategories %}
            <a href="{{team.token}}/{{category.href}}" class="col-md-6 col-lg-4 col-sm-6 col-xs categoryTosubcategory">
        {%else%}
             <a  href="{{team.token}}/{{category.href}}/{{category.onesubcategory.href}}" class="col-md-6 col-lg-4 col-sm-6 col-xs categoryTosubcategory">
        {%endif%}
             <div class="category-list__item text-center" id="{{category.name}}">
                    <div class="category-list-item-img" style="background-image: url('{{MEDIA_URL }}{{ category.img.url }}');"> </div>
                    <span> {{ category.name }} </span>
             </div>
            </a>
         {% endfor %}
    </div>
</div>
{%else%}
  <div class="container">
    <p class="theTeamsArenotAlright">К сожалению, предзаказ недоступен,так как ваша команда не зарегистрирована на следующую игру! Вы можете зарегистрироваться <a class="vk-link" href="{{registry.href}}"> здесь</a></p>
     <img class="background-logo" src="{% static 'img/logo.jpg'%}" alt="Мзгб">
</div>
{%endif%}


{%endblock%}


