{%extends "index.html"%}
{%block content%}
{%load static%}

<div class="Cart-export">
    <a href="/csv/">Export all cart</a>
    <p>{{event}}</p>
    {%for export in cart%}
        <div class="export">
            {%if export.isNameOfNewTeam%}
                <span class="mb-1" style="font-weight: 900;" >{{export.team}}:</span><br>
            {%endif%}
            {%if export.good.subcategory_name.prefix%}
                <span class="mb-1 export_team_cart_goods">{{export.good.subcategory_name.prefix}}    {{export.good.name}}    {{export.quantity}}шт.  {{export.item_total}}р.</span>
            {%else%}
                <span class="mb-1 export_team_cart_goods">{{export.good.subcategory_name.name}}    {{export.good.name}}    {{export.quantity}}шт.  {{export.item_total}}р.</span>
            {%endif%}
        </div>

    {%endfor%}
</div>
{%endblock%}