{%extends "index.html"%}
{%block content%}
{%load static%}

<body>
<div class="container">
    <p class="theTeamsArenotAlright">К сожалению, предзаказ недоступен,так как введенный токен не найден! Пожалуйста, обратитесь к капитану вышей команды за правильной ссылкой!</p>
     <img class="background-logo" src="{% static 'img/logo.jpg'%}" alt="Мзгб">
</div>
</body>

{%endblock%}